{{multiple-database-search-bar databases=model selected=selected xyz="xyz" }}

<div class="clearfix">

  <div class="col-md-9">

    <div class="row query-editor">

      {{query-editor query=currentQuery }}



      <div class="create-table-controls">
        <button class="btn btn-success" {{action "executeQuery"}}>{{fa-icon "check"}} Execute</button>
      </div>


      Here is the current Query :: {{ currentQuery }}

    </div>

    <div class="col-md-12 clearfix query-editor-results">
      {{query-result-table}}
    </div>

  </div>

  <div class="col-md-3">
    <div class="row">
      <div class="panel-group database-panel" id="accordion" role="tablist" aria-multiselectable="true">
        {{#each selectedTablesModels as |tableModel|}}
          <div class="panel panel-default">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" {{action 'showTables' tableModel.dbname }} aria-expanded="true" aria-controls={{tableModel.dbname}} >
                  {{ tableModel.dbname }}
                </a>
                <small class="pull-right">Tables({{tableModel.tables.length}})</small>
              </h4>
            </div>

            <div id={{ tableModel.dbname }} class="panel-collapse collapse {{if singleDbModel 'in'}}" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                  {{#if tableModel.tables.length }}
                    {{#list-filter header="tables" items=tableModel.tables
                    placeholder="Search Tables"
                    as |filteredItems|}}
                      {{#list-group class="table-list" items=filteredItems as |item|}}
                        {{list-item item=item itemClicked="tableSelected"}}
                      {{/list-group}}
                    {{/list-filter}}
                  {{else}}
                    <div class="empty">No Table found.</div>
                  {{/if}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
  </div>
  </div>
</div>

{{#if databaseNotEmpty}}
  {{database-not-empty name=databaseName close="notEmptyDialogClosed"}}
{{/if}}

{{outlet}}