<tr>
  <td>{{job.id}}</td>
  <td>{{job.title}}</td>
  <td>{{job.status}}</td>
  <td>{{moment-from-now job.dateSubmitted}}</td>
  <td>{{job.duration}}</td>
  <td><a {{action "toggleExpandJob" job.id}}>{{fa-icon "expand"}}</a></td>
</tr>

{{#if expanded}}
  <tr>
    <td colspan="6">{{queryFile.fileContent}}</td>
  </tr>
{{/if}}

