<td>
  {{setting.key}}
</td>
<td>
  {{setting.value}}
</td>
<td>
  <button class="btn btn-success" {{action "edit"}}>{{fa-icon "edit"}} Edit</button>
  <button class="btn btn-danger" {{action "delete"}}>{{fa-icon "trash"}} Delete</button>
</td>
