<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">{{fa-icon "paper-plane"}} JOBS</a></li>
  <li role="presentation"><a href="#">{{fa-icon "table"}} TABLES</a></li>
  <li role="presentation"><a href="#">{{fa-icon "paperclip"}} SAVED QUERIES</a></li>
  <li role="presentation"><a href="#">{{fa-icon "puzzle-piece"}} UDFs</a></li>
  <li role="presentation"><a href="#">{{fa-icon "cog"}} SETTINGS</a></li>
</ul>
